// ROUND CORNERS
// --------------------------------------------------
// .rounded(VALUE);
@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
  -moz-border-radius : $radius;
  border-radius : $radius;
}
// .border-radius(VALUE,VALUE,VALUE,VALUE);
@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius : $topright;
  -webkit-border-bottom-right-radius : $bottomright;
  -webkit-border-bottom-left-radius : $bottomleft;
  -webkit-border-top-left-radius : $topleft;
  -moz-border-radius-topright : $topright;
  -moz-border-radius-bottomright : $bottomright;
  -moz-border-radius-bottomleft : $bottomleft;
  -moz-border-radius-topleft : $topleft;
  border-top-right-radius : $topright;
  border-bottom-right-radius : $bottomright;
  border-bottom-left-radius : $bottomleft;
  border-top-left-radius : $topleft;
  -webkit-background-clip : padding-box;
  -moz-background-clip : padding;
  background-clip : padding-box;
}

// Colors
$base-color: rgba(#222,0.8);
$white: #fff;
$black: #000;
$grey: #717171;

.tag-heading {
  margin-top: 0;
}
.inline-list {
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
  li {
    list-style-type: none;
    display: inline;
  }
  margin-bottom: 80px;
}
.entry-meta {
  .tag {
    display: inline-block;
    color: $white;
    margin: 4px;
    font-size: 0.75rem;
    &:hover {
      background-color: lighten($base-color,50);
      color: $black;
    }
    @include rounded(3px);
    span {
      float: left;
      padding: 2px 6px;
    }
    .term {
      background-color: lighten($base-color,60);
      @include border-radius(0,0,3px,3px);
    }
    .count {
      background-color: lighten($base-color,40);
      @include border-radius(3px,3px,0,0);
    }
  }
}
