---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// custom css/overrides below

// ROUND CORNERS
// .rounded(VALUE);
@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
  -moz-border-radius : $radius;
  border-radius : $radius;
}
// .border-radius(VALUE,VALUE,VALUE,VALUE);
@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius : $topright;
  -webkit-border-bottom-right-radius : $bottomright;
  -webkit-border-bottom-left-radius : $bottomleft;
  -webkit-border-top-left-radius : $topleft;
  -moz-border-radius-topright : $topright;
  -moz-border-radius-bottomright : $bottomright;
  -moz-border-radius-bottomleft : $bottomleft;
  -moz-border-radius-topleft : $topleft;
  border-top-right-radius : $topright;
  border-bottom-right-radius : $bottomright;
  border-bottom-left-radius : $bottomleft;
  border-top-left-radius : $topleft;
  -webkit-background-clip : padding-box;
  -moz-background-clip : padding;
  background-clip : padding-box;
}

// Colors
$base-color: rgba(#222,0.8);
$white: #fff;
$black: #000;
$grey: #717171;

.tag-heading {
  margin-top: 0;
}
.inline-list {
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
  li {
    list-style-type: none;
    display: inline;
  }
  margin-bottom: 80px;
}
.entry-meta {
  .tag {
    display: inline-block;
    //color: $white;
    margin: 4px;
    padding: 3px;
    font-size: 0.9rem;
    &:hover {
      background-color: lighten($base-color,50);
      color: $black;
    }
    @include rounded(3px);
    span {
      float: left;
      padding: 2px 6px;
    }
    .term {
      background-color: lighten($base-color,60);
      @include border-radius(0,0,3px,3px);
    }
    .count {
      background-color: lighten($base-color,40);
      @include border-radius(3px,3px,0,0);
    }
  }
}

ul {
  list-style: none; /* Remove list bullets */
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding-bottom: 0.3em;
  padding-top: 1.25em;
  background: url(/assets/bg_hr.png) repeat-x bottom;  //underline
}
h3 {
  margin-bottom: 0;
}
.post-content h2 {
  font-size: 1.4em;
}
.post-content h3 {
  font-size: 1.2em;
}
.pagination-wrapper {
  text-align: center;
  font-size: 14px;
}
.pagination {
  display: inline-block;
  margin: 0 0 2rem;
  a, span {
    border-radius: 3px;
    float: left;
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
}
a.pagination-step, span.pagination-step {
  padding: 0 10px;
  width: auto;
}
.pagination-first, .pagination-last, .pagination-more {
  display: none;
}
.pagination .active {
  background: #ddd;
  color: #fff;
}
@media (min-width: 38em) {
  .pagination-first, .pagination-last, .pagination-more {
    display: block;
  }
  a.pagination-step, span.pagination-step {
    padding: 0 15px;
    width: auto;
  }
}
.post-header {
  margin-bottom: 15px;
}
.excerpt {
  padding-left: 30px;
}
.site-title {
  font-size: 30px;
  font-weight: 500;
  .theText{
    padding-left: 10px;
  }
}
tr {
  vertical-align: top;
  font-size: 80%;
}
